
@import _variables


// ------------------------------------------------------------

image-icon(name, position="left")
  background transparent url('chrome-extension://__MSG_@@extension_id__/images/%s' % name) right center no-repeat
  padding-right 20px


