div
  h2.style-name

  p.applies-to

  p.actions
    a.style-edit-link(href='edit.html?id=')
      button(data-text='editStyleLabel')

    button.enable(data-text='enableStyleLabel')

    button.disable(data-text='disableStyleLabel')

    button.delete(data-text='deleteStyleLabel')

    button.check-update(data-text='checkForUpdate')

    button.update(data-text='installUpdate')

    span.update-note
